body {
    font-family: Arial;
    padding: 50px 0px 0px 0px;
    z-index: 0px;
    color: #0f0f0f;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(167, 155, 167);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(184, 115, 184);
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}

.padder {
    padding-top: 37px;
    padding-bottom: 37px;
}

.leftpad {
    padding-left: 100px;
}

.navbar-dark {
    background-color: #512DA8;
}